@charset "utf-8";
/*ナビゲーションバー*/
.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fff;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #4a95ff;
    background-color: #4a95ff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #4a95ff;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    background-color: #696969;
	border-radius: 3px;
    color: #fff;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #4a95ff;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #4a95ff;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

/*方眼背景*/
.box {
	position: relative;
	height: 100%;
	bottom: 0;
	background-image: linear-gradient(0deg, transparent calc(100% - 1px), #dcdcdc calc(100% - 1px)),
					  linear-gradient(90deg, transparent calc(100% - 1px), #dcdcdc calc(100% - 1px));
	background-size: 32px 32px;
	background-repeat: repeat;
	background-position: center center;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	margin-top: 50px;
  }

/*レスポンシブ*/
@media screen and (min-width:1200px){
	.box{
		padding: 50px 50px;
	}
	.works_c{
		margin: auto;
	}
}

@media screen and (min-width:993px){
	.box{
		padding: 50px 50px;
	}
	.works_c{
		padding: 0;
		margin-left: 0;
	}
}

@media screen and (min-width:768px){
	.box{
		padding: 50px 0px;
	}
	.container.works_c{
		width: 735px;
		margin: auto;
		margin-bottom: 100px;
	}
	.col-sm-4{
		padding: 0px;
	}
	.works_f{
		margin: auto;
		padding: 0px;
	}
}

@media screen and (max-width:767px){
	.box{
		padding: 50px 10px;
	}
	
}

/*見出し*/
h2.stitle{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	text-decoration: underline wavy;
	text-decoration-color: #4a95ff;
}

/*Works*/
.outer{
	overflow: hidden;
	width: 230px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
	border-radius: 24px;
	margin: auto;
}

.outer a{
	color: #222;
	transition: 0.3s ease-in-out;
}

.outer a:hover{
	text-decoration: none;
}

.outer a:hover .section{
	background-color: #222;
	color: #fff;
	transition: 0.3s ease-in-out;
}

.outer a:hover img{	
	transform: scale(1.1);
	transition-duration: 0.5s;
}

.outer img{
	width: 230px;
	display: block;
	transition-duration: 0.5s;
}

.col-sm-4{
	margin-bottom:20px;
	margin-bottom: 20px;
}

.works_c{
	margin-bottom: 100px;
}

.section{
	width: 230px;
	background-color: #fff;
	padding: 20px;
}

/*フッター*/
footer{
	text-align: center;
	padding: 30px;
	background-color: #eee;
	color: #222;
}

/*works*/
h3{
	font-weight: bold;
	text-align: center;
	margin-top: 70px;
	border-bottom: solid 4px #747474;
}
.container{
	display: block;
    padding-top: 70px;
    margin-top: -70px;
}
.row{
	margin: 20px auto;
	font-size: 16px;
}
.imag{
	margin: auto;
	text-align: center;
	display:block;
}
.col-lg-6{
	width: 100%;
	font-weight: bold;
}
.col-lg-6 img{
	width: 310px;
	margin: 10px;
}

.sent{
	margin: 20px auto;
}

@media (max-width: 457px){
	.box .detail{
		padding: 0;
	}
	.container-fluid{
		padding: 0;
	}
	
}
